html, body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 400px;
}

#inputField{
    width: 350px;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    color: blue;
}

#addToDo{
    width: 180px;
    height: 80px;
    border: 1px solid black;
    font-size: 30px;
    padding: 20px;
    margin-top: 20px;
    vertical-align: middle;
}

#toDoContainer{
    margin-top: 25px;
}

.paragraph-styling{
    font-size: 20px;
    color: brown;
}